name: hive_pin_repository
description: Dart package which manages the pin.
version: 1.0.0
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  hive_flutter: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter